body{
	background-color: RoyalBlue ;
}
h1{
	font-size: 30px;
	color: Cornsilk;
}

h2{
	font-size: 20px;
	color : red;
}
.big{
	font-size: 45px
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: Orange;
}
